*  {
  font-family: 'M PLUS 1p', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: white;
}

body {
  background-color: black;
  height: 100vh;
  width: 100vw;

}

header {
  display: flex;
  height: 100px;
  background-color: tomato;
  align-items: center;
}

header nav p, header div p {
  font-family: 'Staatliches', cursive !important;
  
}

header svg {
  fill: white;
  width: 125px;
  margin-left: 40px;
  margin-right: 40px;
}

nav {
  display: flex;

}

.shop {
  display: flex;
} 

nav p {
  margin-right: 15px;
}